body{
  background-color: #F2F7FA;
}

.header-all{
    background-color: #fbb736;
    padding-top: 50px;
    background-color: #fbb736;
    font-family: 'Source Serif Pro', serif;
}

.title-all{
  font-family: segoe ui;
  color: #38318D;
  display: flex;
  justify-content: center;
  font-size: 60px;
  width: 100%;
}

.menu-all{
  font-family: 'Source Serif Pro', serif;
  margin: 0px 0px 20px 0px;
  display:flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 30px;
  /* background-color:#fbb736; */
  color: #38318D;
}


.volunteerhands{
  width:100%;
}


.quote{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #22687f;
  margin: 30px;
}

.separate{
  color: #ffdc9b;
  display:flex;
  justify-content: center;
  font-size: 30px;
  background-color: #ffdc9b;
  margin-top: 60px;
}

.stats{
  font-family: 'Source Serif Pro', serif;
  font-size:25px;
  color: #38318d;
}

.stat1{
  width: 40%;
  margin: 20px;
  font-size: 20px;
}

.highfive{
  position:relative;
  float:right;
  margin: 0px 250px 0px 0px;
  width: 200px;
}

.chunk2{
  position: relative;
  float: right;
  margin: 50px 0px 0px 0px ;
  width:50%;
}

.handpaw{
  position:relative;
  float:left;
  margin: 150px 0px 0px 150px;
  width: 170px;
}

.chunk3{
  margin: 400px 0px 0px 0px ;
}

.handheart{
  position:relative;
  float:right;
  margin: 50px 250px 0px 0px;
  width: 170px;
}
.valuechart{
  width: 600px;
}

.nameInput {
  display: none;
}

.nameInput.active {
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trackerInput{
  display:none;
}

.trackerInput.active {
  display:block;
  margin: 0px 250px 0px 250px;
  background-color: white;
  border: 2px dotted #fbb736;
  color: #267f9d;
  padding-left: 40px;
  padding-bottom: 10px;
}

.welcomeCard{
  font-size: 40px;
  display:flex;
  justify-content: center;
}

.nameInput {
  display: none;
}

.nameInput.active {
  display: block;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.userName{
  width: 10%;
  height: 25px;
  font-family:'Source Serif Pro', serif;
  color: #38318d;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-size: 16px;
}

.submit0{
  color: #38318d;
  background-color: #76bed6;
  font-size: 16px;
  padding: 5px 10px 5px 10px;
  font-family:'Source Serif Pro', serif;
}

.trackersection{
  color: #38318d;
  display: flex;
  flex-direction: column;
}

.logtext{
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 30px;
}

.organization{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.date{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.hours{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.contactInfo{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.contactInfo2{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.contactInfo3{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
}

.reflection{
  font-family:'Source Serif Pro', serif;
  color: #38318d;
  width: 160px;
}

.submitBtn{
  color: #38318d;
  background-color: #76bed6;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  font-family:'Source Serif Pro', serif;
}

.resetName{
  color: #38318d;
  background-color: #76bed6;
  font-size: 12px;
  padding: 2px 5px 2px 5px;
  font-family:'Source Serif Pro', serif;
}

/

 .menu-all{
  font-family: 'Source Serif Pro', serif;
  margin: 20px 0px 20px 0px;
  display:flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 30px;
  background-color:#fbb736;
  color: #38318D;
}

.home{

}

.volunteerhands{
  width:700px;
  margin: 0px 0px 0px 275px;
  display: flex;
  justify-content: center;
}

.quote{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #22687f;
  margin: 70px;
} /

 .menu-all{
  font-family: 'Source Serif Pro', serif;
  margin: 20px 0px 20px 0px;
  display:flex;
  justify-content: space-between;
  font-size: 24px;
  padding: 30px;
  background-color:#fbb736;
  color: #38318D;
}

.home{

}

.volunteerhands{

}

.quote{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: #22687f;
  margin: 70px;
}
 */

.resourcesbody{
  margins:300px, 250px, 300px, 250px;
  padding: 300px, 300px, 300px, 300px;
  background: #F2F7FA;
  text-align: center;
  font-size: 30px;
  display:inline-block;
}

 /* .h1{
  padding:400px 200px 400px 200px;
  background-color: white;
} */

.resourcecolumn{
  padding:500px, 550px 500px 550px;
  border:3px solid #22687F;
  height:1600px;
  width:60%;
  float: left;
  width: 65%;
  overflow: hidden;
}

.hands{
  height:300px;
  object-fit: cover;
}

.rselection{
padding-top:30px;
padding-left: 30px;
padding-right: 30px;
padding-inside: 30px;
padding-bottom: 30px;
height: 30px;
display:flex;
background-color: #267F9D;
/* align-items:space-between; */
flex-direction: row;
justify-content: space-between;
border:1px solid lightblue;
button-radius:0px;
/* float: right;
width: 25%;
overflow: hidden; */
}

.tipsresources{
  padding: 100px, 100px, 100px, 100px;
  border-line:1px solid;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
  display:inline-block;
  display:flex;
  flex-wrap:wrap;
}

.advicebox{
  border:1px solid hidden;
  background-color: white;
}

.radvicebox1{
  border:1px solid;
}

.radvicebox2{
  border:1px solid;
}

.radvicebox3{
  border:1px solid;
}

.tipssubh{
  font-style: italic;
  font-size:25px;
}

.resourceemail{
  font-size: italic;
  font-size: 25px;
  font-color: #38318D;
}

.tips{
  padding-left: 30px;
  padding-right: 30px;
  border-line:1px solid;
  background:white;
}

.lastestresources{
  padding: 100px, 100px, 100px, 100px;
  border-line:1px solid;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
}

.rlatestlinks{
padding:20px 25px 20px 25px;
display:flex;
justify-content: space-between;
}

.hereresources{
  padding: 100px, 100px, 100px, 100px;
  border-line:1px solid;
  background-color: lightblue;
  text-align:center;
  font-size: 24px;
}

.hereorange{

}


.rherelinks{
  padding:20px 25px 20px 25px;
  display:flex;
  justify-content: space-between;
}

/* .resourcecolumn{
  border:1px, solid;
} */

.abroadresources{
  padding: 100px, 100px, 100px, 100px;
  border-line:1px solid;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
  }

  .rabroadlinks{
    padding:20px 25px 20px 25px;
    display:flex;
    justify-content: space-between;
  }

  .futureresources{
  padding: 100px, 100px, 100px, 100px;
  border-line:1px solid;
  background-color: lightblue;
  text-align: center;
  font-size: 24px;
}

.rfuturelinks{
  padding:20px 55px 20px 25px;
  display:flex;
  justify-content: space-between;
}

.tipsresources{
  display:none;
}

.latestresources{
  display:none;
}

.hereresources{
  display:none;
}

.abroadresources{
  display:none;
}

.futureresources{
  display:none;
}

.sideselection{
  padding: 30px 20px 30px 20px;
  height:1800px;
  width:30%;
  border:3px solid #267F9D;
  display:flex;
  flex-direction: row-reverse;
  flex-direction: column;
  text-align: center;
  /* font-size:20px; */
  overflow: hidden;
}

.sidetitle{
  font-size: 30px;
}

.blossomstage{
  height: 600px;
  object-fit: cover;
}

.colorrun{
  /* height:60px;
  object-fit: cover; */
}


.pastLogs{
  display: none;
}

.pastLogs.active{
  display:block;
  margin: 0px 250px 0px 250px;
  background-color: white;
  border-right: 2px dotted #fbb736;
  border-left: 2px dotted #fbb736;
  border-bottom: 2px dotted #fbb736;
  color: #267f9d;
  padding-left: 40px;
  padding-top:10px;
  padding-bottom: 10px;
}

.hands{
  width:700px;
  margin: 0px 0px 0px 325px;
  display: flex;
  justify-content: center;
}
